/* .dark-mode {
    background-color: 'black'; /* Dark background color */
    /* color: 'light'; /* Text color for dark mode */
  /* } */
/* 
.light-mode
{
    background-color: 'white';
    color: 'black'; */
/* } */ 